
h1 {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


h2{
	font-family: "Starbucks-regular";
	font-weight: 400;
  font-size: 1.2em
}

p {
	font-family: "Starbucks-light";
	font-weight: 100;
	font-size: 1em;
}

section:first-of-type {
  background-color: var(--color-section-background-1);
  padding: 1em 0em 0em 0em;
}

section:first-of-type h2 {
  color: var(--color-text-2);
  padding-bottom: 1em;
  padding-left: 1em;
  padding-top: 1em;
}

section:first-of-type img {
  width: 100%;
  padding-top: 1em;
  display: block;
}

section:nth-of-type(2) {
	background-color: var(--color-section-background-2);
	display: flex;
	flex-direction: column;
  margin: 2em;
  border-radius: 1em;
}

section:nth-of-type(2) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

section:nth-of-type(2) button {
  background-color: var(--btn-color-2);
  color: var(--color-text-2);
  padding: 0.8em 2em;
  border: none;
  border-radius: 12em;
  margin: 2em 2em;
}

section:nth-of-type(2) h2 {
  padding-left: 1em;
  padding-top: 1em;
  font-size : 1.2em;
  color: var(--color-text);
}

section:nth-of-type(2) p {
  padding: 0em 1.2em;
  gap: 0.75em;
}

section:nth-of-type(3) {
	background-color: var(--color-section-background-3);
	display: flex;
	flex-direction: column;
  margin: 2em;
  border-radius: 1em;
}

section:nth-of-type(3) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

section:nth-of-type(3) button {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 0.8em 2em;
  border: none;
  border-radius: 12em;
  margin: 2em 2em;
}

section:nth-of-type(3) p, section:nth-of-type(3) h2 {
  margin-left: 1em;
  text-align: left;
  margin-right: 1em;
  margin-top: 0.75em;
  color: var(--color-text-2);
}


/* section 4 */

section:nth-of-type(4) {
	background-color: var(--color-section-background-2);
	display: flex;
	flex-direction: column;
  margin: 2em;
  border-radius: 1em;
}

section:nth-of-type(4) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

section:nth-of-type(4) button {
  background-color: var(--btn-color-2);
  color: var(--color-text-2);
  padding: 0.8em 2em;
  border: none;
  border-radius: 12em;
  margin: 2em 2em;
}

section:nth-of-type(4) p, section:nth-of-type(4) h2 {
  margin-left: 1em;
  text-align: left;
  margin-right: 1em;
  margin-top: 0.75em;
  color: var(--color-text);
}


/* section 5 */

section:nth-of-type(5) {
	background-color: var(--color-section-background-3);
	display: flex;
	flex-direction: column;
  margin: 2em;
  border-radius: 1em;
}

section:nth-of-type(5) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

section:nth-of-type(5) button {
  background-color: var(--btn-color);
  color: var(--color-text);
  padding: 0.8em 2em;
  border: none;
  border-radius: 12em;
  margin: 2em 2em;
}

section:nth-of-type(5) p, section:nth-of-type(5) h2 {
  margin-left: 1em;
  text-align: left;
  margin-right: 1em;
  margin-top: 0.75em;
  color: var(--color-text-2);
}


/* section 6 */

section:nth-of-type(6) {
	background-color: var(--color-section-background-2);
	display: flex;
	flex-direction: column;
  margin: 2em;
  border-radius: 1em;
}

section:nth-of-type(6) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

section:nth-of-type(6) button {
  background-color: var(--btn-color-2);
  color: var(--color-text-2);
  padding: 0.8em 2em;
  border: none;
  border-radius: 12em;
  margin: 2em 2em;
}

section:nth-of-type(6) p, section:nth-of-type(6) h2 {
  margin-left: 1em;
  text-align: left;
  margin-right: 1em;
  margin-top: 0.75em;
  color: var(--color-text);
}

/* section 6 */

section:nth-of-type(7) {
	background-color: var(--color-section-background-1);
	display: flex;
	flex-direction: column;
  margin: 2em;
  border-radius: 1em;
}

section:nth-of-type(7) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

section:nth-of-type(7) button {
  background-color: var(--btn-color);
  color: var(--color-text-1);
  padding: 0.8em 2em;
  border: none;
  border-radius: 12em;
  margin: 2em 2em;
}

section:nth-of-type(7) p, section:nth-of-type(7) h2 {
  margin-left: 1em;
  text-align: left;
  margin-right: 1em;
  margin-top: 0.75em;
  color: var(--color-text-2);
}


/* responsive */

@media (min-width: 48em) {
  section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: auto ;   
    margin: 0; 
    padding: 0;
  }

  section:first-of-type img {
    grid-column: 2;
    grid-row: 1 / 4; 
    margin: 0; 
    padding: 0;  
  }

  section:first-of-type h2 {
    grid-column: 1;
    grid-row: 2;         
    justify-self: center;
    font-size: 2em;
  }

  section:first-of-type button {
    grid-column: 1;
    grid-row: 2;
    margin-top: 7em;    
    justify-self: center;
  }
}

@media (min-width: 64em){
  section:first-of-type {
    border-radius: 2em;
    margin-left: 10em;
    margin-right: 10em;
    }

  section:first-of-type img {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }
}