


h2{
	font-family: "Starbucks-regular";
	font-weight: 400;
  font-size: 1.2em;
  color: inherit;
}

p {
	font-family: "Starbucks-light";
	font-weight: 100;
	font-size: 1em;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);  

}


main {
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  row-gap: 1em;
  padding-bottom: 1em;
}

section {
  grid-column-start: 2;
  
}

section:first-of-type {
  background-color: var(--color-section-background-1);
  padding: 1em 0em 0em 0em;
  grid-column-start:1;
	grid-column-end:-1;
  display: flex;
  flex-direction: column;
}

section:first-of-type > a {
  font-family: "Starbucks-regular";
  font-weight: 400;
  
  background-color: var(--btn-color);
  color: var(--color-text);
  
  padding: 0.8em;
  border-radius: 12em;
  
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
}

section:first-of-type > a:hover {
  background-color: var(--btn-color-hover);
}

section:first-of-type > a:focus-visible {
  outline: 2px solid var(--focus-groen);
  outline-offset: 0.2em;    
}


/* hover */

section:first-of-type button:hover {
  background-color: var(--btn-color-hover);
}

section:first-of-type h2 {
  color: var(--color-text-2);
  padding-bottom: 1em;
  padding-left: 1em;
  padding-top: 1em;
}

section:first-of-type h2::selection {
  background: var(--selectie-achtergrond-wit);
  color: var(--selectie-tekst-groen);
}

section:first-of-type a::selection {
  background: var(--selectie-achtergrond-groen);
  color: var(--selectie-tekst-wit);
}

section:first-of-type img {
  width: 100%;
  height: auto;
  padding-top: 1em;
  display: block;
}

/* section 1 */

@media (min-width: 48em) {

  section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: auto ;   
    margin: 0; 
    padding: 0;
  }

  section:first-of-type img {
    grid-column: 2;
    grid-row: 1 / 4; 
    margin: 0; 
    padding: 0;  
  }

  section:first-of-type h2 {
    grid-column: 1;
    grid-row: 2;         
    justify-self: center;
    font-size: 2em;
  }

  section:first-of-type a {
    grid-column: 1;
    grid-row: 2;
    margin-top: 7em;    
    justify-self: center;
  }
}


/* section 2 */

section:nth-of-type(2) {
	background-color: var(--color-section-background-2);
	display: flex;
	flex-direction: column;
  border-radius: 1em;
  gap: 0.5em;
  padding-bottom: 1em;
}

section:nth-of-type(2) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  width: 100%;
  height: auto;
  
}


section:nth-of-type(2) > a {
  font-family: "Starbucks-regular";
  font-weight: 400;
  
  background-color: var(--btn-color-2);
  color: var(--color-text-2);
  
  padding: 0.8em;
  border-radius: 12em;
  
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
  width: 80%;
  align-self: center;
  
}

section:nth-of-type(2) > a:focus-visible {
  outline: 2px solid var(--focus-groen);
  outline-offset: 0.2em;
}



section:nth-of-type(2) a:hover {
  background-color: var(--btn-color-2-hover);
}

section:nth-of-type(2) h2 {
  padding-left: 1em;
  padding-top: 1em;
  font-size : 1.2em;
  color: var(--color-text);
}

section:nth-of-type(2) p {
  padding: 0em 1.2em;
  gap: 0.75em;
  color: var(--color-text);
}


/* selection */

section:nth-of-type(2) p::selection, section:nth-of-type(2) h2::selection {
  background: var(--selectie-achtergrond-groen);
  color: var(--selectie-tekst-wit);
}

section:nth-of-type(2) a::selection {
  background: var(--selectie-achtergrond-wit);
  color: var(--selectie-tekst-groen);
}






/* Embracing sustainability */

section:nth-of-type(3) {
	background-color: var(--color-section-background-3);
	display: flex;
	flex-direction: column;
  border-radius: 1em;
  gap: 0.5em;
  padding-bottom: 1em;
}

section:nth-of-type(3) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  width: 100%;
  height: auto;
}

section:nth-of-type(3) > a {
  font-family: "Starbucks-regular";
  font-weight: 400;
  
  background-color: var(--btn-color);
  color: var(--color-text);
  
  padding: 0.8em;
  border-radius: 12em;
  
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
  width: 80%;
  align-self: center;
  
}

section:nth-of-type(3) a:focus-visible {
  outline: 2px solid var(--focus-groen);
  outline-offset: -0.3em;
}

section:nth-of-type(3) a:hover {
  background-color: var(--btn-color-hover);
}

section:nth-of-type(3) p, section:nth-of-type(3) h2 {
  margin-left: 1em;
  text-align: left;
  margin-right: 1em;
  margin-top: 0.75em;
  color: var(--color-text-2);
}

/* selection */

section:nth-of-type(3) p::selection, section:nth-of-type(3) h2::selection {
  background: var(--selectie-achtergrond-wit);
  color: var(--selectie-tekst-groen);
}

section:nth-of-type(3) a::selection {
  background: var(--selectie-achtergrond-groen);
  color: var(--selectie-tekst-wit);
}


/* section 4 - starbucks verklaringen */

section:nth-of-type(4) {
	background-color: var(--color-section-background-2);
	display: flex;
	flex-direction: column;
  border-radius: 1em;
  gap: 0.5em;
  padding-bottom: 1em;
}

section:nth-of-type(4) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  width: 100%;
  height: auto;
}

section:nth-of-type(4) > a {
  font-family: "Starbucks-regular";
  font-weight: 400;
  
  background-color: var(--btn-color-2);
  color: var(--color-text-2);
  
  padding: 0.8em;
  border-radius: 12em;
  
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
  width: 80%;
  align-self: center;
  
}

section:nth-of-type(4) a:focus-visible {
  outline: 2px solid var(--focus-groen);
  outline-offset: 0.2em;
}

section:nth-of-type(4) a:hover {
  background-color: var(--btn-color-2-hover);
}

section:nth-of-type(4) p, section:nth-of-type(4) h2 {
  margin-left: 1em;
  text-align: left;
  margin-right: 1em;
  margin-top: 0.75em;
  color: var(--color-text);
}

/* selection */

section:nth-of-type(4) p::selection, section:nth-of-type(4) h2::selection {
  background: var(--selectie-achtergrond-groen);
  color: var(--selectie-tekst-wit);
}

section:nth-of-type(4) a::selection {
  background: var(--selectie-achtergrond-wit);
  color: var(--selectie-tekst-groen);
}




/* section 5 - over ons */

section:nth-of-type(5) {
	background-color: var(--color-section-background-3);
	display: flex;
	flex-direction: column;
  border-radius: 1em;
  gap: 0.5em;
  padding-bottom: 1em;
}

section:nth-of-type(5) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  width: 100%;
  height: auto;
}

section:nth-of-type(5) > a {
  font-family: "Starbucks-regular";
  font-weight: 400;
  
  background-color: var(--btn-color);
  color: var(--color-text);
  
  padding: 0.8em;
  border-radius: 12em;
  
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
  width: 80%;
  align-self: center;
  
}

section:nth-of-type(5) a:hover {
  background-color: var(--btn-color-hover);
}

section:nth-of-type(5) a:focus-visible {
  outline: 2px solid var(--focus-groen);
  outline-offset: -0.3em;
}

section:nth-of-type(5) p, section:nth-of-type(5) h2 {
  padding-left: 1em;
  text-align: left;
  color: var(--color-text-2);
}

/* selection */

section:nth-of-type(5) p::selection, section:nth-of-type(5) h2::selection {
  background: var(--selectie-achtergrond-wit);
  color: var(--selectie-tekst-groen);
}

section:nth-of-type(5) a::selection {
  background: var(--selectie-achtergrond-groen);
  color: var(--selectie-tekst-wit);
}



/* section 6 - starbucks bezorgd */

section:nth-of-type(6) {
	background-color: var(--color-section-background-2);
	display: flex;
	flex-direction: column;
  border-radius: 1em;
  gap: 0.5em;
  padding-bottom: 1em;
}

section:nth-of-type(6) img {
  order: -1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  width: 100%;
  height: auto;
}

section:nth-of-type(6) > a {
  font-family: "Starbucks-regular";
  font-weight: 400;
  
  background-color: var(--btn-color-2);
  color: var(--color-text-2);
  
  padding: 0.8em;
  border-radius: 12em;
  
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
  width: 80%;
  align-self: center;
  
}

section:nth-of-type(6) a:focus-visible {
  outline: 2px solid var(--focus-groen);
  outline-offset: 0.2em;
}

section:nth-of-type(6) a:hover {
  background-color: var(--btn-color-2-hover);
}

section:nth-of-type(6) p, section:nth-of-type(6) h2 {
  margin-left: 1em;
  text-align: left;
  margin-right: 1em;
  margin-top: 0.75em;
  color: var(--color-text);
}

/* selection */

section:nth-of-type(6) p::selection, section:nth-of-type(6) h2::selection {
  background: var(--selectie-achtergrond-groen);
  color: var(--selectie-tekst-wit);
}

section:nth-of-type(6) a::selection {
  background: var(--selectie-achtergrond-wit);
  color: var(--selectie-tekst-groen);
}


/* section 7 - vind een winkel */

section:nth-of-type(7) {
	background-color: var(--color-section-background-1);
	display: flex;
	flex-direction: column;
  border-radius: 1em;
}

section:nth-of-type(7) button {
  background-color: var(--btn-color);
  color: var(--color-text-1);
  padding: 0.8em 2em;
  border: none;
  border-radius: 12em;
  margin: 2em 2em;
  transition: 0.5s;
}

section:nth-of-type(7) button:focus-visible {
  outline: 2px solid var(--btn-color-2);
  outline-offset: -0.3em;
}

section:nth-of-type(7) button:hover {
  background-color: var(--btn-color-hover);
}

section:nth-of-type(7) p, section:nth-of-type(7) h2 {
  padding-left: 1em;
  text-align: left;
  margin-right: 1em;
  margin-top: 0.75em;
  color: var(--color-text-2);
}

iframe {
  order: -1;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

/* selection */

section:nth-of-type(7) p::selection, section:nth-of-type(7) h2::selection {
  background: var(--selectie-achtergrond-wit);
  color: var(--selectie-tekst-groen);
}

section:nth-of-type(7) button::selection {
  background: var(--selectie-achtergrond-groen);
  color: var(--selectie-tekst-wit);
}


@media (prefers-color-scheme: dark) {
  section:last-of-type iframe {
    filter: invert(90%);
  }
}


/* section winkel */

@media (min-width: 64em) { 


  main {
    padding-top: 3em;
  }

    main > section:last-of-type {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: auto 3fr 1fr;
      column-gap: 1em;
    }
  
    main > section:last-of-type iframe {
      grid-column: 2;
      grid-row: 1 / -1; 
      height: 100%;       
      width: 100%;
      border-top-left-radius: 0;
      
    }
  

    main > section:last-of-type h2 {
      grid-column: 1;
      grid-row: 1;
      font-size: 2rem;

    }
  

    main > section:last-of-type p {
      grid-column: 1;
      grid-row: 2;
      font-size: 1rem;
      padding-left: 2em;
    }

    main > section:last-of-type button {
      grid-column: 1;
      grid-row: 3;
      justify-self: left;
    }
  }
  


/* main grid */

@media (min-width: 64em){

  main {
    grid-template-columns: 1fr 1fr;
    max-width: 64em;
    margin-inline: auto;
    column-gap: 1em;
  }

  section {
    grid-column-start: unset ;
    

  }

  section:nth-of-type(7) {
    grid-column-start:1;
		grid-column-end:-1;
  }


  section:first-of-type {
    border-radius: 2em;
    }

  section:first-of-type img {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }
}