main {
    background-color: rgb(245, 245, 245);
}


h1 {
    font-family: "starbucks-light";
    color: var(--color-text-1);
    font-size: 1.2em;
    padding-left: 2em;
    
}

strong {
    font-family: "starbucks-regular";
}

h2 {
    font-size: 1.75em;
    font-family: "starbucks-regular";
}

h3 {
    font-size: 1.5em;
    font-family: "starbucks-regular";
}

h4 {
    font-family: "starbucks-regular";
}

section ul {
    list-style: "";
}


/* section (h1) */
main > section:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    color: var(--color-text-2);
    background: linear-gradient(rgba(0, 0, 0, 0) 10%, #00190f), url(./images/OurCoffees_Blonde_C01RESIZED.jpg.webp);
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/gradient/linear-gradient */
    /*  */
    min-height: 80vh;
    background-size: cover;
    gap: 1em;
    padding-bottom: 2em;
}

main > section:first-of-type a:nth-of-type(1) {
    font-family: "starbucks-regular";
    background-color: white;
    width: 90%;
    border-radius: 2em;
    text-align: center;
    padding: 1em;
    align-self: center;
}

main > section:first-of-type a:nth-of-type(2) {
    font-family: "starbucks-regular";
    color: white;
    background-color: transparent;
    border: 1px solid white;
    width: 90%;
    border-radius: 2em;
    padding: 1em;
    text-align: center;
    align-self: center;
}



section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 2em;
    padding-top: 3em;
}

section > section:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
}

p > a {
    color: green;
    text-decoration: underline;
}

section > section p:nth-of-type(2) , section > section p:nth-of-type(3) , section > section p:nth-of-type(4) {
    font-style: italic;
}

section p a  {

    font-style:normal;
}

/* product 1 */

article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
}

article img {
    order: -1;
    border-radius: 1em;
    align-self: center;
}

article h4 {
    font-family: "starbucks-regular";
    font-size: 1.2em ;
    align-self: left ;
    padding-left: 1.5em;
}

article a {
    font-family: "starbucks-bold";
    align-self: center;
    background-color: transparent;
    border: 2px solid #00754a;
    width: 90%;
    border-radius: 2em;
    text-align: center;
    padding: 1em;
    color: #00754a;
}


/* brew-guide-tekst */

section:nth-of-type(2) section section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid rgb(222, 222, 222);
}

section:nth-of-type(2) section section h4 , section:nth-of-type(2) section section p , section:nth-of-type(2) section section ol {
    grid-column: 2;
}

section:nth-of-type(2) section section img {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}

section:nth-of-type(2) section section ol {
    font-family: "starbucks-light";
    padding-left: 1em;
}

ol li::marker {
    font-family: "starbucks-regular";
}

ol li strong , ol li em  {
    display: block;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 1em
}



/* responsive */

@media (min-width: 48em) {
    main {
        display: grid;
        grid-template-columns: 35% 65%;
    }
    
    main > section:first-of-type {
        position: sticky;
        grid-column: 1;
        top:0;
        bottom: 0;
        height: 100vh;
    }

    section ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}

