/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

@font-face {
    font-family: "Starbucks-bold";
    src: url('../fonts/49f6eaa3630c71e3-s.p.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: "Starbucks-light";
    src: url('../fonts/564f79e771d74376-s.p.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "Starbucks-regular";
    src: url('../fonts/6aebdeb6fff3abca-s.p.woff') format('woff');
    font-weight: 400;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

header::selection {
  background: var(--selectie-achtergrond-groen);
  color: var(--selectie-tekst-wit);
}

footer::selection {
  background: var(--selectie-achtergrond-wit);
  color: var(--selectie-tekst-groen);
}



a[href="#main"] {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5rem;  
  left: 40%;
  right: 40%;


  translate: 0 -300%;
  outline-offset: 3px;


  border-radius: 2em;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  z-index: 10;
  color: var(--color-text-2);
  background-color: var(--btn-color-2);
  font-family: "starbucks-regular";
}


a[href="#main"]:focus-visible {
  translate: 0 0;                 
  outline: 2px solid var(--focus-groen);
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --header-links-color: black;
  --tekst-linkjes: green;
  --color-text: #000000;
  --color-text-2: white;
  --color-text-3: #006241;
  --color-text-4: #00754a;
  --color-background: #ffffff;
  --color-section-background-1: #006241;
  --color-section-background-2: #edebe9;
  --color-section-background-3: #00754a;

  --btn-color: white;
  --btn-color-hover: rgba(255,255,255,0.70);
  --btn-transparent: transparent;
  --btn-white-transparent-hover: rgba(255,255,255,0.30);

  --btn-color-2: #00754a;
  --btn-color-2-hover: rgba(0,117,74,0.70);

  --btn-green-transparent-hover: rgba(0,117,74,0.10);

  --footer-background-color: #1c3930;
  --footer-background-color-2: #ffffff;
  --footer-text-1:#ffffffb3;
  --not-active: #00000094;
  --onzekoffies-main-background: rgb(245, 245, 245);
  --border-color-subtle: rgb(222, 222, 222); 

  /* focus kleuren */
  --focus-groen : #00754a;
  --focus-wit : white;

  /* selectie kleuren */
  --selectie-tekst-wit: white;
  --selectie-tekst-groen:#00754a ;
  --selectie-achtergrond-wit: white;
  --selectie-achtergrond-groen: #00754a;
}

/* Dark mode kleuren*/

@media (prefers-color-scheme: dark) {
  :root {
    
    --color-background: #02140E;           
    --color-section-background-1: #053021; 
    --color-section-background-2: #0A3A28; 
    --color-section-background-3: #145C43;  

    --color-text:   #F8F5EC;   
    --color-text-2: #F8F5EC;   
    --color-text-3: #C9C3B4;  
    
    --tekst-linkjes: green;

    
    --header-links-color: #F8F5EC;

    
    --btn-color:   #0A3A28; 
    --btn-color-hover: rgba(20, 113, 79, 0.8); 
    --btn-color-2: #00754A;  

    

    
    --footer-background-color:   #010C09;
    --footer-background-color-2: #02140E;
    --footer-text-1: #FFFFFFCC;

    --not-active: #FFFFFF4D;

    --onzekoffies-main-background: #02140E;
    --border-color-subtle: rgb 222 222 22; 
  }

}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

h2 {
	font-family: "Starbucks-bold";
	font-weight: 700;
  font-size: 1.2em;
}

p {
	font-family: "Starbucks-light";
	font-weight: 100;
	font-size: 1em;
}

button {
  font-family: "Starbucks-regular" ;	
  font-weight: 400;
  background-color: var(--btn-color);
  padding: 0.8em 2em;
  border: none;
  border-radius: 12em;
  margin: 0em 2em;
}

/* header */

header {
  background-color: var(--color-background);
  padding: 1em 0em 1em 1em;

  position: sticky;
  top:0;
  z-index: 1;

  font-family: "Starbucks-light";
  font-size: 1.2em;

  display: flex;
  justify-content: space-between;
  width: 100%;
}

header a:focus-visible {
  outline: 2px solid var(--focus-groen);
  outline-offset: 0.2em;
  
}


header ul a:focus-visible {
  outline: 2px solid var(--focus-groen);
  outline-offset: 0.2em;
}

header button {
  order: 1;
  position: relative;
  z-index: 1;
  background-color: transparent;
  transition: 0.5s;
}

header button:hover {
  scale: 1.2;
}

header button svg {
  color: var(--color-text);
}

header nav:first-of-type {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* hover logo */

header a > img {
  transition: 0.5s;
}

header a > img:hover {
  scale: 1.2;
}


header a {
  text-decoration: none;
  color: var(--header-links-color);
  
  
}

header nav:first-of-type li {
  padding-top: 1em;
  color: var(--color-text);
}

/* hover header links */

header nav:first-of-type li a {
  transition: 0.5s;
}

header nav:first-of-type li a:hover {
  color: green;
  
}

header a {
  z-index: 1;
}

header nav ul li {
  white-space: nowrap;
}

header nav:nth-of-type(1) ul  { 
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  
  translate: 200% 0;
  transition: 0.5s;
  list-style: none;
  background-color: var(--color-background);
  padding-top: 4em;
  padding-left: 2em;
  padding-right: 2em;

  
  
}



header nav:nth-of-type(1) li:nth-of-type(8) {
  border-bottom: 1px lightgrey solid;
  padding-bottom: 1em;
  font-size: 1rem;
  
}

header nav:nth-of-type(1) li:nth-of-type(7) {
  padding-top: 2rem;
  font-size: 1rem;
}

header nav:nth-of-type(1) li:nth-of-type(7) a ,
header nav:nth-of-type(1) li:nth-of-type(8) a {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

header nav:nth-of-type(1) li:nth-of-type(7) svg
 {
  width: 24px;
  fill: lightgrey;
}

header nav:nth-of-type(1) li:nth-of-type(8) svg {
  width: 24px;
  color: lightgrey;
}
/* heb hier gevonden hoe ik deze svg moest aanpassen omdat hij current color had https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value */


header nav.menuOpen:nth-of-type(1) ul {
  translate: 0 0;
  
}

header nav.menuOpen:nth-of-type(1) li:nth-of-type(n+9) {
  font-size: 1rem;
}



/* bottom header */
header nav:nth-of-type(2) {
  position: fixed;
  background-color: var(--footer-background-color-2) ;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1em 0em;
  
  
  
}

header nav:nth-of-type(2) a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--not-active);
  transition: 0.5s;
  
  
}

header nav:nth-of-type(2) a:hover {
  opacity: 80%;
}


header nav:nth-of-type(2) ul {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2em; 
  list-style: none;

}

a span {
  font-size: 0.7em;
  font-family: "Starbucks-regular";
  padding-top: 0.3em;
}

header nav:nth-of-type(2) svg {
  width: 1.375em;
  
}

header nav:nth-of-type(2) path {
  fill: var(--not-active);
  
}

header nav:nth-of-type(2) a[aria-current="page"] path {
  fill: var(--color-text-3);
}

header nav:nth-of-type(2) a[aria-current="page"]  {
  color: var(--color-text-3);
}


/* responsive header */

@media (min-width: 48em) {

  header li:nth-of-type(6) , header li:nth-of-type(9) , header li:nth-of-type(10) , header li:nth-of-type(11) {
    display: none;
  }
  header nav:nth-of-type(2) {
    display: none;
  }

}

@media (min-width: 64em) {

  header nav:nth-of-type(1) li:nth-of-type(1),
  header nav:nth-of-type(1) li:nth-of-type(2),
  header nav:nth-of-type(1) li:nth-of-type(3),
  header nav:nth-of-type(1) li:nth-of-type(4),
  header nav:nth-of-type(1) li:nth-of-type(5) {
    font-family: "starbucks-regular";
}


  header nav:nth-of-type(1) li:nth-of-type(7) {
    padding-top: 0;
  }

  header nav:nth-of-type(1) li:nth-of-type(8) {
    padding-bottom: 0;
  }

  header nav:first-of-type li:nth-of-type(5) {
    display: none;
  }


  header {
    align-items: center;
    justify-content:center;
    gap: 2em;
  }


  header nav:first-of-type li:nth-of-type(5) {
    padding-right: 2%;
  }

  header nav:first-of-type li:nth-of-type(8) {
    padding-right: 5em;
  }

  header nav:nth-of-type(1) li:nth-of-type(8) {
    border-bottom: none;
  }

  header button {
    display: none ;
  }

  header nav:nth-of-type(1) ul {
    position: static;
    translate: 0 0;
    padding: 0;
    margin: 0;

    display:flex;
    flex-direction: row;
    align-items: center;

    gap: 2em;
    background-color: transparent;
  }

  header nav:nth-of-type(1) li {
    padding: 0;
    margin: 0;
  }
  
}

@media (min-width: 72em) {

  header nav:first-of-type li:nth-of-type(5) {
    display: block;
  }

}

/* footer */
footer {
  padding-top:1em;
}

footer nav > a:focus-visible {
  outline: 2px solid var(--focus-wit);
  outline-offset: 0.2em;
}

footer summary:focus-visible {
  outline: 2px solid var(--focus-wit);
  outline-offset: 0.2em;
}

footer details li a:focus-visible {
  outline: 2px solid var(--focus-wit);
  outline-offset: 0.2em;
}

nav[aria-label="social-media"] ul li a:focus-visible {
  outline: 2px solid var(--focus-wit);
  outline-offset: 0;         
}



     
  
footer > ul li a:focus-visible {
  outline: 2px solid var(--focus-wit);
}


footer a > img {
  transition: 0.5s;
}

footer a > img:hover {
  scale: 1.2;
}

footer {
  background-color: var(--footer-background-color);
  font-family: "Starbucks-regular";
  padding-bottom: 6em;
}

footer nav a:nth-of-type(2) {
  color: var(--color-text-3);

}

details ::marker{
  content: ''
}

footer summary {
  font-weight: 400;
  color: var(--color-text-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  
}

footer summary::after {
	content: ">";
  font-family: "starbucks-light";
  font-weight: 100;
  font-size: 0.5em;
  rotate: 90deg;
	transition:0.3s;
	font-size:2em;
}

details[open] summary::after {
	rotate:270deg;
}


details li a {
  font-family: "starbucks-light";
  color: var(--footer-text-1) ;
  font-weight: 100;
  font-size: 1em;
  text-decoration: none;
  transition: 0.5s;
  
}

details li a:hover {
  color: var(--color-text-2);
}

footer svg:first-of-type {
  width: 2.875em;
}

nav[aria-label="social-media"] ul {
  display: flex;     
  list-style: none;    
  align-items: center;
  justify-content: flex-start;
  padding-left: 2em;
  padding-top:0.7em;
  gap: 1em;
  

}


nav[aria-label="social-media"] path {
  transition: 0.5s;
  
}

nav[aria-label="social-media"] path:hover {
  fill: var(--btn-color-hover);
}


nav[aria-label="social-media"] ul path {
  fill: white;
}

nav[aria-label="social-media"] ul svg {
  width: 1.5em;
}

footer > ul {
  padding-top: 1em;
}

footer > ul a {
  font-size: 1em;
  color: grey;
  font-weight: 100;
  padding-left:2em;
  padding-top: 1em;
  font-family: "starbucks-light";
  text-decoration: none;
  transition: 0.5s;
  
}

footer > ul li {
  list-style: "";
}
footer > ul a:hover {
  color: var(--color-text-2);
}

footer nav:first-of-type {
  padding-left: 2em;
  padding-right:2em;
}

footer details:last-of-type {
  border-bottom: 1px solid rgba(211, 211, 211, 0.366);
  padding-bottom: 0.5em;
}
 
/* reponsive footer */
@media (min-width: 48em) {

  footer {
    padding-inline: 6rem;
    padding-top: 3em;
  }

  footer > ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1em 
  }

  nav[aria-label="social-media"] ul {
    justify-content: center;
  }

}

@media (min-width: 64em) {


  footer > ul li a {
    padding: 0; 
  }  
  
footer summary:focus-visible {
    outline: none;
  }

  footer details:last-of-type {
    border-bottom: none;
  }

  details::details-content {
		content-visibility:visible;
	}

  footer summary::after  {
		content:"";
	}
  
  footer nav:first-of-type {
    display: flex;
    align-items: flex-start;
    gap: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    
  }

  


  

}


/* bronnenlijst


  1. prefers-reduced-motion - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@media/prefers-reduced-motion
  2. !important - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/important
  3. linear-gradient() - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/gradient/linear-gradient
  4. CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value
  5. :focus - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:focus
  6. outline - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/outline
  7. outline-offset - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/outline-offset
  8. :focus-visible - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:focus-visible
  9. : The Details disclosure element - HTML | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/details
  10. :nth-of-type() - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:nth-of-type
  11. object-fit - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/object-fit
  12. ARIA: aria-label attribute - ARIA | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Attributes/aria-label
  13. Rupert, D. (2019, 28 juli). Hide content. Hide content. https://www.a11yproject.com/posts/how-to-hide-content/
  14. align-self - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/align-self
  15. Basic concepts of grid layout - CSS | MDN. (z.d.-b). https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Basic_concepts
  16. grid-template-columns - CSS | MDN. (z.d.-b). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-columns
  17. z-index - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/z-index
  18. white-space - CSS | MDN. (z.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/white-space
  19. Coyier, C. (2024, 12 augustus). CSS Flexbox Layout Guide | CSS-Tricks. CSS-Tricks. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  
  */

