/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

@font-face {
    font-family: 'Starbucks';
    src: url('/fonts/49f6eaa3630c71e3-s.p.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Starbucks';
    src: url('/fonts/564f79e771d74376-s.p.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'Starbucks';
    src: url('/fonts/6aebdeb6fff3abca-s.p.woff') format('woff');
    font-weight: 400;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #000000;
  --color-text-2: white;
  --color-text-3: #006241;
  --color-background: #ffffff;
  --color-section-background-1: #006241;
  --color-section-background-2: #edebe9;
  --color-section-background-3: #00754a;
  --btn-color: white;
  --btn-color-2: #00754a;
  --footer-background-color: #1c3930;
  --footer-background-color-2: #ffffff;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

h1 {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h2{
	font-family: starbucks;
	font-weight: 700;
  font-size: 1em;
}

p {
	font-family: starbucks;
	font-weight: 100;
	font-size: 0.8em;
}

/* header */

header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
  padding: 1em 0em 1em 1em;

  position: sticky;
  top:0;
  z-index: 1;
}


a {
  text-decoration: none;
  color: var(--color-text);
  
  
}

header li {
  margin-top: 1em;
  color: var(--color-text);
}

header img {
  z-index: 1;
}

nav button {
  position: relative;
  z-index: 1;
}

header ul { 
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  
  translate: 200% 0;
  transition: 0.5s;
  list-style: none;
  background-color: var(--color-background);
  padding-top: 4em;
  padding-left: 2em;
}

nav.menuOpen ul {
  translate: 0 0;
  
}

/* footer */

footer {
  background-color: var(--footer-background-color)
  ;
}

footer nav:nth-of-type(2) {
  position: fixed;
  background-color: var(--footer-background-color-2) ;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 2em;
}


footer nav a:nth-of-type(2) {
  color: var(--color-text-3);

}

